<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
    </head>
    <body>
        <table>
            <tr>
                <th>名前</th>
                <th>email</th>
                <th>更新</th>
                <th>削除</th>
            </tr>
        </table>
        <!--こちらに基礎課題で言われてる内容を記述しましょう。ここから-->
        <p id="textTag"></p>
        <p id="textDemo"></p>
        <ul id="userList"></ul>
        <input type="text" id="userIdInput" placeholder="ユーザーIDを入力">
        <button id="buttonclick">情報を取得</button>
        <div id="userInfo"></div>
        <!--usersのリスト作成　users.lengthでDB上の数分繰り返し-->
        <table id="tableList">
            <% for (let i=0; i < users.length; i++) { %>
                <%= users[i].name %>&nbsp; <%= users[i].email %>
                        <!--変更と削除ボタンの付与&nbsp;は空白入れるためのやつ-->
                        <a href="/edit/<%= users[i].id %>">更新</a>&nbsp;
                        <a href="/delete/<%= users[i].id %>">削除</a><br />
                        <% } %>
        </table>
        <!--form.htmlとリンクするためのテキストの実装-->
        <p><a href="/create">ユーザーの追加</a></p>
        <!--こちらに基礎課題で言われてる内容を記述しましょう。ここまで-->
        <script type="text/javascript">
            // 参考例


            let textTag = document.getElementById('textTag');
            let NUMBER = `<%= number %>`;
            textTag.innerHTML = NUMBER;

            let textDemo = document.getElementById("textDemo");
            let TEXT = `<%= text %>`;
            textDemo.innerHTML = TEXT;

            let userList = document.getElementById('userList');
            let USERLIST = JSON.parse(`<%= JSON.stringify(users) %>`.replace(/&#34;/g, '"'));
            //console.log(USERLIST);
            let userListHTML = '';
            USERLIST.forEach(user => {
                userListHTML += '<li>name: ' + user.name + '<br>email: ' + user.email + '</li>';
            });
            userList.innerHTML = userListHTML;

            //usersをsqlのDBから取ってきてUSERSという変数に格納している。
            let USERS = JSON.parse('<%= JSON.stringify(users) %>'.replace(/&#34;/g, '"'));
            //USERS[0]のidをコンソールに出力。
            console.log(USERS[0].id);

            //buttonを押したとき
            document.getElementById("buttonclick").onclick = function () {
                //userIdInputに入力された文字を数値型に変換している。
                const userId = parseInt(document.getElementById("userIdInput").value, 10);
                //userIdが文字型か数値型か判定
                console.log(typeof userId);
                console.log(userId);

                //入力された文字とDBの中のidで同一のものがあるかの判定
                const user = USERS.find(function (user) {
                    return user.id === userId;
                });
                console.log(user);

                //上で判定して同一のものがあればifの結果文　なければユーザーが見つかりませんと表示させる。
                if (user) {
                    document.getElementById("userInfo").innerHTML = user.name + ' ' + user.email;
                } else {
                    document.getElementById("userInfo").innerHTML = 'ユーザーが見つかりません。';
                }
            };


            // ここからはapp.jsで作成した値をここでブラウザに出力するように機能を実装していきましょう。上記の参考例を元にやってみましょう。
            // 基礎課題01:画面に表示する機能作りましょう。
            /*
            基礎課題02,03をやる前に
            配列とオブジェクトリストをapp.jsから取得するときに以下のやり方が必要になります。
            変数名は自由に決めてください。プロパティ名についてはapp.jsでオブジェクト内に格納したプロパティ名を使用してください。
            以下使用する際は<%#の「#」部分を「=」に変更するよう気をつけてください。%>
            let 変数名 = JSON.parse('<%# JSON.stringify(プロパティ名) %>'.replace(/&#34;/g, '"'));
            */

            // 基礎課題02:HTML内にulタグを作成し、liタグでapp.jsで作成した情報を画面に表示して下さい。

            // 基礎課題03:作成したオブジェクトリストをブラウザに出力して下さい。その場合以下の様に出力して下さい。
            // 例）
            // name: s.chiba
            // email: s.chiba@gmail.com
        </script>
    </body>
</html>
